/* You can add global styles to this file, and also import other style files */
@import "../node_modules/nord/src/sass/nord.scss";

$fontfamily: 'Manrope', sans-serif;
$fontfamilyheader: neue-haas-grotesk-display, serif;

$background: white;
//$background: white;
$hightlight1: #f8f8f8;
//$hightlight2: #e6e6e6;
//$hightlight1: white;
$hightlight2: lightgray;

$accent1: $nord7;
//$accent2: $nord8;
$accent2: rgba(46, 52, 64, 0.5);
$accent3: $nord9;
$accent4: $nord10;

$error: $nord11;
$warning: $nord12;
$subtleWarning: $nord13;
$success: $nord14;
$special: $nord15;

$text: $nord0;
//$text: #3e3e3e;
$subText: $nord1;
$byText: $nord3;


html, body {
  margin: 0;
  padding: 0;

  font-family: $fontfamily;
  font-weight: 400;
  font-style: normal;

  background: $background;
  color: $text;
}

label {
  font-size: 0.7em;
  font-weight: 700;
  padding-bottom: 4px;
}

input {
  outline: none;
  border: solid 1px $hightlight1;
  background: $hightlight1;
  padding: 8px 12px;
  font: $fontfamily;
  color: inherit;
  border-radius: 4px;
}

select {
  outline: none;
  border: solid 1px $hightlight1;
  background: $hightlight1;
  padding: 7px 30px 7px 12px;
  font: $fontfamily;
  color: inherit;
  border-radius: 4px;
}

.validator-space {
  height: 20px;
}

.button-align-right {
  display: flex;
  justify-content: flex-end;
}


table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

table th:first-child{
  border-radius: 4px 0 0 4px;
  padding-left: 32px;
}

table th:last-child{
  border-radius:0 4px 4px 0;
}

thead {
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: bold;
}

table thead tr {
  background-color: $hightlight1;
  color: $byText;
  text-align: left;
}

table th {
  padding: 16px 16px 16px 8px;
  font-weight: 800;
}

table td {
  padding: 8px;
}

tbody tr {
  font-size: 0.8em;
}

table tr td:first-child{
  border-radius: 4px 0 0 4px;
  padding-left: 32px;
}

table tr td:last-child{
  border-radius:0 4px 4px 0;
}

td {
  border-top: solid 2px $hightlight1;
  border-bottom: solid 2px $hightlight1;
  font-weight: bold;
}

tr td:first-child {
  border-bottom-left-radius: 10px;
  border-left: solid 2px $hightlight1;
}

tr td:last-child {
  border-bottom-right-radius: 10px;
  border-right: solid 2px $hightlight1;
}

td p {
  margin: 0;
}

.actions {
  display: flex;
}

.action-grow {
  flex-grow: 1;
}

.options {
  position: absolute;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 8px 0;
  border-radius: 10px;
  width: 200px;
  margin-left: -180px;
  z-index: 100;
}

.option {
  cursor: pointer;
}

.option p {
  padding: 8px 16px;
}

.option p:hover {
  background: $hightlight1;
}

.pop-up {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up .pop-up-content {
  background: $background;
  padding: 8px 32px 32px 32px;
  border-radius: 10px;
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
  box-shadow:0 0 20px rgba(0,0,0,0.2);
}
