/* You can add global styles to this file, and also import other style files */
@import "../node_modules/nord/src/sass/nord.scss";

$fontfamily: neue-haas-grotesk-display, sans-serif;
$fontfamilyheader: neue-haas-grotesk-display, serif;

$background: $nord6;
//$background: white;
//$hightlight1: #f8f8f8;
//$hightlight2: #e6e6e6;
$hightlight1: $nord5;
$hightlight2: $nord4;

$accent1: $nord7;
$accent2: $nord8;
$accent3: $nord9;
$accent4: $nord10;

$error: $nord11;
$warning: $nord12;
$subtleWarning: $nord13;
$success: $nord14;
$special: $nord15;

//$text: $nord0;
$text: #3e3e3e;
$subText: $nord1;
$byText: $nord3;


html, body {
  margin: 0;
  padding: 0;

  font-family: $fontfamily;
  font-weight: 400;
  font-style: normal;

  background: $background;
  color: $text;
}

label {
  text-transform: uppercase;
  font-size: 0.7em;
  padding-bottom: 4px;
}

input {
  outline: none;
  border: solid 1px $hightlight1;
  background: $hightlight1;
  padding: 8px 12px;
  font: $fontfamily;
  color: inherit;
  border-radius: 4px;
}

select {
  outline: none;
  border: solid 1px $hightlight1;
  background: $hightlight1;
  padding: 8px 30px 8px 12px;
  font: $fontfamily;
  color: inherit;
  border-radius: 4px;
}

.validator-space {
  height: 20px;
}

.button-align-right {
  display: flex;
  justify-content: flex-end;
}

