/* You can add global styles to this file, and also import other style files */
@import "../node_modules/nord/src/sass/nord.scss";

$fontfamily: neue-haas-grotesk-display, sans-serif;
$fontfamilyheader: neue-haas-grotesk-display, serif;

$background: $nord6;
$hightlight1: $nord5;
$hightlight2: $nord4;

$accent1: $nord7;
$accent2: $nord8;
$accent3: $nord9;
$accent4: $nord10;

$text: $nord0;
$subText: $nord1;
$byText: $nord3;


html, body {
  margin: 0;
  padding: 0;

  font-family: $fontfamily;
  font-weight: 400;
  font-style: normal;

  background: $background;
  color: $text;
}


