:host {
  display: block;

  height: 28px;
  width: 28px;
}


.icon {
  padding: 4px;
}

.sizeX {
  height: 20px !important;
  width: 20px !important;
}

.sizeXS {
  height: 10px !important;
  width: 10px !important;
}
