@import "../../../../styles";

:host {
  display: flex;
  cursor: pointer !important;
  justify-content: center;
}

button {
  border: none !important;
  background: inherit;
  outline: none !important;
  box-shadow: none !important;
  padding: 12px;
}

button:hover {
  cursor: pointer;
  background: $hightlight1;
  border-radius: 4px;
}
