@import "../../../../styles";

:host {
  display: flex;
  cursor: pointer !important;
  justify-content: center;
}

button {
  border: none !important;
  padding: 4px;
  background: inherit;
  outline: none !important;
  box-shadow: none !important;
}

button:hover {
  cursor: pointer;
  background: $hightlight1;
  border-radius: 3px;
}

.btn:disabled {
  border: 1px solid #cccccc;
  background-color: #cccccc;
  color: #666666;
}

