@import "../../../../styles";

:host {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.footer {
  margin: 0 32px 32px 32px;
}

.image-nav {
  display: flex;
}

.nav-item {
  display: flex;
  align-items: center;
  flex-grow: 0;
  padding: 4px 16px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.nav-item:hover {
  background: $hightlight1;
}

.spacer {
  flex-grow: 1;
}

p {
  margin: 8px;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
}
