<div class="footer">
  <div class="image-nav">
    <app-button [label]="'Vorheriges'"
                [iconLeft]="true"
                icon="arrow-left"
                [iconSize]="'xs'"
                [disableBorders]="true"
                (onClick)="dataService.previousPainting()"></app-button>
    <div class="spacer"></div>
    <app-button [label]="'Nächstes'"
                [iconRight]="true"
                icon="arrow-right"
                [iconSize]="'xs'"
                [disableBorders]="true"
                (onClick)="dataService.nextPainting()"></app-button>
  </div>
</div>
