<app-view-title [title]="'Übersicht'"></app-view-title>
<section *ngIf="basketItems.length > 0">
  <p>Produkte</p>
  <div class="basket-items">
    <app-basket-item [item]="item" *ngFor="let item of basketItems"></app-basket-item>
  </div>
</section>
<section *ngIf="address !== null">
  <p>Anschrift</p>
  <div class="text-line">
    <p>{{address.title}}</p>
    <p>{{address.firstName}}</p>
    <p>{{address.lastName}}</p>
  </div>
  <div class="text-line">
    <p>{{address.street}} {{address.streetNo}}</p>
  </div>
  <div class="text-line">
    <p>{{address.postalCode}}, {{address.city}}</p>
  </div>
  <div class="text-line">
    <p>{{address.country}}</p>
  </div>
  <div class="button-align-right">
    <app-button [label]="'Bezahlen'" (onClick)="pay()"></app-button>
  </div>
</section>
