<section>
  <app-view-title [title]="'Übersicht'"></app-view-title>
  <p>Produkte</p>
  <div class="basket-items">
    <app-basket-item [item]="item" *ngFor="let item of basketItems"></app-basket-item>
  </div>
</section>
<section>
  <p>Anschrift</p>
  <div class="text-line">
    <!--<p *ngIf="selectedTitle !== null">{{selectedTitle.description}}</p>-->
    <p>{{dataService.userData.address.firstName}}</p>
    <p>{{dataService.userData.address.lastName}}</p>
  </div>
  <div class="text-line">
    <p>{{dataService.userData.address.street}} {{dataService.userData.address.streetNo}}</p>
  </div>
  <div class="text-line">
    <p>{{dataService.userData.address.postalCode}}, {{dataService.userData.address.city}}</p>
  </div>
  <div class="text-line">
    <p *ngIf="selectedCountry !== undefined && selectedCountry !== null">{{selectedCountry.name}}</p>
  </div>
  <div class="button-align-right">
    <app-button [label]="'Bezahlen'" (onClick)="pay()"></app-button>
  </div>
</section>
