section {
  margin-top: 32px;
}

section p {
  margin-bottom: 4px;
}

.text-line {
  display: flex;
  flex-direction: row;
}

.text-line p {
  margin: 0px 2px;
  font-size: 1em;
}

.basket-checkout-total {
  display: grid;
  grid-template-columns: 50% 50%;
  font-weight: 700;
}

.price-description {
  text-transform: uppercase;
}

.price-value {
  display: flex;
  justify-content: flex-end;
}
