@import "../../../../styles";

:host {
  display: flex;
  padding: 8px 0;
  font-size: 1em;
  border-bottom: solid 1px $hightlight1;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@media screen and (min-width: 601px) {
  .basket-item-price {
    width: 100px;
  }
  .basket-item-name {
    margin-right: 32px !important;
  }

}

@media screen and (max-width: 600px) {
  p {
    font-size: 0.8em;
  }
  .basket-item-price {
    width: 80px;
  }
}


p {
  margin:0;
}

.basket-item-image {
  display: flex;
  align-items: center;
  flex-grow: 0;
  width: 50px;
  height: 50px;
}

.basket-item-image img {
  height: 36px;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.4);
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.4);
}

.basket-item-name {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 4px 16px 4px 16px;
  margin: auto;
  //white-space: nowrap;
}

.basket-item-price {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  padding: 4px;
  margin: auto;
}

.basket-item-remove {
  display: flex;
  flex-grow: 0;
  padding: 4px 0 4px 4px;
  margin: auto;
}
