:host {
  display: flex;

  height: 28px;
  width: 28px;
}


.icon {
  margin: auto;
}

.sizeX {
  height: 20px !important;
  width: 20px !important;
}

.sizeXS {
  height: 15px !important;
  width: 15px !important;
}
