<div class="painting-info">
  <div class="det1">
    <app-info-item [title]="'Name'" [description]="painting.name"></app-info-item>
    <app-info-item [title]="'Kollektion'" [description]="painting.collection"></app-info-item>
  </div>
  <div class="vertical-spacer"></div>
  <div class="det2">
    <app-info-item [title]="'Art'" [description]="painting.style"></app-info-item>
    <app-info-item [title]="'Technik'" [description]="painting.technique"></app-info-item>
    <app-info-item [title]="'Malgrund'" [description]="painting.underground"></app-info-item>
    <app-info-item [title]="'H x B x T (cm)'" [description]="dimensions"></app-info-item>
  </div>
  <div class="vertical-spacer"></div>
  <div class="det3">
    <app-painting-info-price-item [title]="'Preis'" [price]="painting.price"></app-painting-info-price-item>
    <app-button [label]="'in den warenkorb'" (onClick)="addItemToBasket(painting)" class="btn" [isDisabled]="dataService.isItemAlreadyInBasket(painting.id)"></app-button>
  </div>
</div>
