@import "../../../styles";

@media screen and (min-width: 800px) {
  .painting-info {
    display: flex;
    flex-direction: column;
    margin: 8px 8px;

    .vertical-spacer {
      flex-grow: 1;
    }

    .det1 {
      flex-grow: 0;
    }
    .det2 {
      flex-grow: 0;
    }
    .det3 {
      flex-grow: 0;
    }
  }
}

@media screen and (max-width: 799px) {
  .painting-info {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .vertical-spacer {
      flex-grow: 1;
    }

    .det1 {
      flex-grow: 0;
    }
    .det2 {
      display: grid;
      grid-template-columns: 50% 50%;
    }
    .det3 {
      flex-grow: 0;
    }
  }
}
