.painting-info {
  display: flex;
  flex-direction: column;
  margin: 8px 8px;

  .vertical-spacer {
    flex-grow: 1;
  }

  .det1 {
    flex-grow: 0;
  }
  .det2 {
    flex-grow: 0;
  }
  .det3 {
    flex-grow: 0;
  }


}
