@import '../../../styles';

:host {
  height: 100vh;
  display: flex;
}

@media screen and (min-width: 601px) {
  .painting {
    flex-direction: row;
  }

  .image {
    width: 50vw;
    height: calc(100vh - 75px);
  }

  .content {
    width: 50vw;
    height: calc(100vh - 75px);
  }

  .info {
    top: 148px;
    right: 80px;
  }
}

@media screen and (max-width: 600px) {
  .painting {
    flex-direction: column;
  }

  .image {
    width: 100vw;
    height: calc(50vh);
    margin-left: -32px;
  }

  .content {
    width: 100vw;
  }

  .info {
    display: none !important;
  }
}

.painting {
  display: flex;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 75px;
}

.info {
  position: fixed;
  display: flex;
  font-size: 0.8em;
  font-weight: 700;
}

.info .info-pos {
  margin-left: 1em;
  color: $accent2;
}

.info .selected-pos {
  color: $text !important;
}

.info p {
  margin: 0;
}
