<!--<app-painting-list></app-painting-list>-->
<div class="container">
  <div class="painting">
    <div class="image">
      <app-painting *ngIf="selectedPainting !== null" [painting]="selectedPainting"></app-painting>
    </div>
    <div class="content">
      <app-painting-info *ngIf="selectedPainting !== null"></app-painting-info>
    </div>
  </div>
</div>

<div class="info">
  <p class="info-pos selected-pos">{{selectedPaintingPos | number:'2.0'}}</p>
  <p class="info-pos">|</p>
  <p class="info-pos">{{paintingsCount | number:'2.0'}}</p>
</div>
<app-footer></app-footer>
