<div class="pop-up">
  <div class="pop-up-content">
    <h3>Bild auswählen</h3>
    <div class="form-group">
      <label for="file">Wähle das Bild aus</label>
      <input type="file"
             id="file"
             (change)="handleFileInput($event.target.files)" accept=".jpg">
    </div>
    <p>{{errorMessage}}</p>
    <div class="actions">
      <div class="action">
        <app-button [label]="'Abbrechen'" (onClick)="cancel()"></app-button>
      </div>
      <div class="action" *ngIf="fileToUpload !== null">
        <app-button [label]="'Hochladen'" (onClick)="uploadFile()"></app-button>
      </div>
    </div>
  </div>
</div>
