<div class="orders">
  <table>
    <thead>
      <tr>
        <th>#Id</th>
        <th>Kunde</th>
        <th>Adresse</th>
        <th>Datum</th>
        <th>Summe</th>
        <th>Status</th>
        <th>Aktion</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let order of orders">
        <td><p>#{{order.id}}</p></td>
        <td><p>{{order.firstName}} {{order.lastName}}</p></td>
        <td><p>{{order.street}}, {{order.postalCode}}, {{order.city}}</p></td>
        <td><p>{{order.orderDateTime | date:'dd.MM.yyyy' }}</p></td>
        <td><p>{{order.orderValue | currency: 'CHF ': 'code'}}</p></td>
        <td><p [ngClass]="order.orderStateId === 1? 'warning' : 'success'">{{order.orderState}}</p></td>
        <td>
          <div class="actions">
            <div class="action">
              <app-icon-button [iconSize]="'xs'" [iconName]="'settings'" (onClick)="selectOrder(order)" ></app-icon-button>
              <div class="options" *ngIf="order.selected">
                <div class="option">
                  <p *ngIf="order.orderStateId === 1" (click)="markAsSent(order)">Als versendet markieren</p>
                  <p style="color: lightgray">Rückerstatten</p>
                  <p style="color: lightgray">Stornieren</p>
                </div>
              </div>
            </div>
            <div class="action">
              <app-icon-button [iconSize]="'xs'" [iconName]="'right'" (onClick)="navigateToOrder(order)" ></app-icon-button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
