@import '../../../../styles';

.orders {
  padding: 32px 0;
  width: calc(100vw - 128px);
}

table {
  width: calc(100vw - 128px);
}

.warning {
  color: $warning;
}

.success {
  color: $accent2;
}

