@import "../../../styles";

:host {
  display: block;
  cursor: pointer !important;
}

button {
  border: none !important;
  padding: 4px;
  background: inherit;
  outline: none !important;
  box-shadow: none !important;
}

button:hover {
  cursor: pointer;
}

.btn:disabled {
  border: 1px solid #cccccc;
  background-color: #cccccc;
  color: #666666;
}

