<div *ngIf="painting !== undefined" class="painting-info">
  <p class="collection">{{painting.collection}}</p>
  <p class="name">{{painting.name}}</p>
  <p class="price">{{painting.price | currency: 'CHF ':'code'}}</p>
  <div class="tags">
    <div class="tag" *ngFor="let tag of tags">{{tag}}</div>
  </div>
  <p class="description">{{painting.description}}</p>
  <app-button *ngIf="painting.sold > 0" [label]="'Verkauft'" [isDisabled]="true" class="btn"></app-button>
  <app-button *ngIf="painting.sold > 0" [label]="'Verkauft'" [isDisabled]="true" class="btn"></app-button>
  <app-button *ngIf="painting.sold == 0" [label]="'in den warenkorb'" (onClick)="addItemToBasket(painting)" class="btn" [isDisabled]="isAlreadyInBasket"></app-button>
</div>
