.horizontal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
}

.text-input {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.action {
  flex-grow: 0;
  margin-left: 16px;
}
