@media screen and (min-width: 800px) {
  .painting-list {
    margin-top: 25vh;
  }
}

@media screen and (max-width: 799px) {
  .painting-list {
    margin-top: 100px;
  }
}

.painting-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
