<div class="header">
  <div class="inner-header">
    <h1><a routerLink="/paintings">ich bin ich</a></h1>
    <div class="horizontal-spacer"></div>
    <ul class="header-item-list">
      <li class="header-item">
        <a routerLink="/basket" routerLinkActive="active"><app-icon routerLinkActive="active" [name]="'basket'"></app-icon></a>
        <app-info-circle [count]="basketCount" *ngIf="basketCount > 0"></app-info-circle>
      </li>
      <li class="header-item">
        <a routerLink="/user" routerLinkActive="active"><app-icon [name]="'user'"></app-icon></a>
      </li>
    </ul>
  </div>
</div>
