@import "../../../styles";

@media screen and (min-width: 601px) {
  .big {
    display: block;
  }
  .small {
    display: none;
  }
  .inner-header {
    margin: 32px 64px;
  }
}

@media screen and (max-width: 600px) {
  .big {
    display: none;
  }
  .small {
    display: block;
  }
  .inner-header {
    margin: 32px;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
}

.inner-header {
  display: flex;
  align-items: center;
}

h1 {
  display: flex;
  flex-grow: 0;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.horizontal-spacer {
  flex-grow: 1;
}

.header-item-list {
  display: flex;
  margin: 0;
}

.header-item {
  display: flex;
  align-items: center;
  justify-items: center;
  list-style-type: none;
}

.header-item a {
  padding: 8px;
  margin-left: 8px;
}

.header-item a:hover {
  background: $hightlight1;
}

.header-item .active {
  background: $hightlight1;
}

