@import "../../../styles.scss";

:host {
  display: block;
  padding: 4px;
  height: 15px;
  width: 15px;
  font-size: 0.7em;
  font-weight: bold;
  background: $accent1;
  border-radius: 20px;
  text-align: center;
  color: $background;
  position: absolute;
  margin-top: 30px;
  margin-left: 30px;
}
