.info-item {
  margin: 12px 0px;
}

p {
  margin: 0;
  padding: 0;
}

.info-item-title {
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: 500;
}

.info-item-description {
  font-size: 1em;
  font-weight: 700;
}
