<div class="basket">
  <div class="basket-title"><a>{{basketInfo}}</a></div>
  <div class="basket-items">
    <div class="basket-item" *ngFor="let item of basketItems">
      <div class="basket-item-image"><img src="{{getImage(item)}}"/></div>
      <div class="basket-item-name">{{item.name}}</div>
      <div class="basket-item-price"><app-currency [value]="item.price"></app-currency></div>
      <div class="basket-item-remove"><button (click)="removeFromBasket(item.id)">x</button></div>
    </div>
  </div>
</div>

