:host {
  display: block;
  padding: 25px;
  padding-top: 100px;
  margin: auto;
  max-width: 770px;
}

.basket-checkout {
  padding: 4px;
  font-weight: bold;
}

.basket-checkout-total {
  display: grid;
  grid-template-columns: 50% 50%;
}

.price-description {
  text-transform: uppercase;
}

.price-value {
  display: flex;
  justify-content: flex-end;
}

.check-out-button {
  display: flex;
  justify-content: flex-end;
}
