:host {
  padding: 96px 16px 16px 16px;
}

.content {
  margin: auto;
  max-width: calc(800px - 32px);
}

.basket-checkout {
  padding: 4px;
  font-weight: bold;
}

.basket-checkout-total {
  display: grid;
  grid-template-columns: 50% 50%;
}

.price-description {
  text-transform: uppercase;
}

.price-value {
  display: flex;
  justify-content: flex-end;
}

