@import '../../../styles';

:host {
  width: 100vw;
  display: flex;
}

@media screen and (min-width: 601px) {
  :host {
    justify-content: center;
  }

  .content {
    margin: 75px 32px 32px 32px;
    width: 100vw;
  }
  .panel-right {
    width: 70vw;
  }
}

@media screen and (max-width: 600px) {
  .content {
    width: 100vw;
    margin: 75px 0 0 0;
  }
  .panels {
    flex-direction: column;
  }
}

.content {
  justify-content: center;
}

.header {
  padding: 32px 32px 0 32px;
  margin-top: 32px;
}

.panels {
  display: flex;
}

.panel {
  padding: 0 32px 32px 32px;
  border-radius: 3px;
}

.basket-checkout {
  padding: 4px;
  font-weight: bold;
}

.basket-checkout-total {
  display: grid;
  grid-template-columns: 50% 50%;
}

.price-description {
  text-transform: uppercase;
}

.price-value {
  display: flex;
  justify-content: flex-end;
}

.info {
  margin-bottom: 16px;
  font-size: 1em;
  margin-top: 26px;
}
