<div class="content">
  <app-view-title [title]="'Warenkorb'"></app-view-title>
  <div class="basket-items">
    <app-basket-item [item]="item" *ngFor="let item of basketItems"></app-basket-item>
    <div class="basket-checkout">
      <div class="basket-checkout-total">
        <p class="price-description">Total:</p>
        <p class="price-value">
          <app-currency [value]="basketTotal"></app-currency>
        </p>
      </div>
      <div class="button-align-right">
        <app-button [routerLink]="['../check-out/address']" [isDisabled]="basketTotal == 0" [label]="'Zur Kasse'" (onClick)="checkOut()"></app-button>
      </div>
    </div>
  </div>
</div>


