@import "../../../../styles";

:host {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  position: relative;
}

label {
  text-transform: uppercase;
  font-size: 0.7em;
  padding-bottom: 4px;
}

select {
  outline: none;
  border: solid 1px $hightlight2;
  background: $hightlight2;
  padding: 7px 30px 7px 12px;
  font: $fontfamily;
  color: inherit;
}
