@import "../../../styles";

:host {
  display: block;
}

.check-out-option {
  background: $hightlight1;
  padding: 20px;
}

.text-input {
  display: flex;
  flex-direction: column;
  margin: 6px 0;
}

.login-button {
  display: flex;
}
