@import "../../../styles";

:host {
  display: block;
  background: $hightlight1;
  padding: 20px;
}


.check-out-option {
  background: $hightlight1;
  padding: 20px;
}

form {
  margin-top: 12px;
}

.text-input {
  display: flex;
  flex-direction: column;
  margin: 6px 0px;
}

.login-actions {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 8px;
}

.login-button {
  display: flex;
}
