@media screen and (min-width: 800px) {
  .painting {
    flex-direction: row;
  }
}

@media screen and (max-width: 799px) {
  .painting {
    flex-direction: column;
  }
}

.painting {
  display: flex;
  height: 100vh;
  justify-content: center;
}



