@import "../../../../styles";

:host {
  display: flex;
}

button {
  display: flex;
  align-items: center;
  border: solid 2px $hightlight1;
  outline: none !important;
  box-shadow: none !important;
  text-transform: uppercase;

  background: transparent;
  color: $text;

  font-size: 0.8em;
  font-weight: bold;
  font-family: $fontfamily;

  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;

  border-radius: 4px;
  //padding:  12px 24px;
  padding: 8px 16px;
}

button:hover {
  background-color: $hightlight1;
}

button:disabled {
  background-color: $hightlight1;
  color: $text;
  text-decoration: line-through;
}

.iconLeft {
  margin-right: 16px;
}

.iconRight {
  margin-left: 16px;
}

.no-border {
  border: solid 2px transparent !important;
}
